body, html {
    background-color: #23272A
}

#urlBox {
    width: 50%;
    border: 2px solid black;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
    margin: 1%;
}

#playpause {
    bottom: 0;
    position: absolute;
    margin-bottom: 0;
    right: 0;
    left: 0;
    height: 5%;
    background: rgb(255, 0, 0);
}

.song {
    background-color: #2c2f33;
    border-radius: 7.5px;
    width: 100%;
    padding: 1%;
    color: #000000
}

button.button {
    margin-left: 5px;
    border-radius: 5px;
}

@keyframes playingStartAnimation {
    from { background: #2c2f33; }
    to { background: #f4bf42; }
}

@keyframes playingAnimation {
    0% { background: #2c2f33; }
    50% { background: #f4bf42; }
    100% { background: #2c2f33; }
}

.playing {
    animation: playingAnimation 7.5s infinite;
}

@keyframes playingFinishAnimation {
    from { background: #f4bf42; }
    to   { background: #2c2f33; }
}

.playing-end {
    animation: playingFinishAnimation 0.75s forwards;
}

@keyframes fadeInAnimation {
    from { opacity: 0 }
    to { opacity: 1 }
}

.fadeIn {
    animation: fadeInAnimation 0.75s forwards;
}